<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
    </head>
    <body>
        <h2>The list of products</h2>
        <p><a href="/create">Add</a></p>
        <table>
            <thead><th>ID</th><th>Model</th><th>Company</th><th>Price</th></thead>
            {{range . }}
            <tr>
                <td>{{ .ID}}</td>
                <td>{{ .Model}}</td>
                <td>{{ .Company}}</td>
                <td>{{ .Price}}</td>
                <td><a href="/edit/{{ .ID}}">Edit</a> | <a href="/delete/{{ .ID}}">Delete</a></td>
            </tr>
            {{end}}
        </table>
    </body>
</html>