<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Autorisation</title>
        <style>
            body {
                margin-left: 5%;
            }
        </style>
    </head>
    <body>
        <h1>Please Sign in</h1>
        <form method="POST">
            <label>Login:</label><br>
            <input type="email" name="login" value="example@gmail.com"/><br>
            <label>Password:</label><br>
            <input type="password" name="password" /><br><br>
            <input type="submit" value="Sign in" />
        </form>
    </body>
</html>