<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add a voting</title>
        <style>
            body {
                margin-left: 5%;
            }
        </style>
    </head>
    <body>
        <h3>New voting</h3>
        <form method="POST">
            <label>Voting name</label><br>
            <input type="text" name="name" /><br><br>
            <label>Description</label><br>
            <input type="text" name="description" /><br><br>
            <label>Start time</label><br>
            <input type="date" name="start_time" /><br><br>
            <label>End time</label><br>
            <input type="date" name="end_time" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>