<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edit the voting</title>
        <style>
            body {
                margin-left: 5%;
            }
            .delete_button {
                color: rgb(243, 11, 11);
                text-decoration: none;
            }
    </style>
    </head>
    <body>
        <h3>Edit the voting</h3>
        <form method="POST">
            <input type="hidden" name="id_voting" value={{ .ID}} />
            <label>Voting name</label><br>
            <input type="text" name="name" value="{{ .Name}}" /><br><br>
            <label>Description</label><br>
            <input type="text" name="description" value={{ .Description}} /><br><br>
            <label>Start time</label><br>
            <input type="date" name="start_time" value={{ .StartTime}} /><br><br>
            <label>End time</label><br>
            <input type="date" name="end_time" value={{ .EndTime}} /><br><br>
            <input type="submit" value="Send" />
        </form>
        <br><br>
        <button><a href="/delete_voting/{{ .ID}}" class="delete_button">Delete the voting</a></button>
    </body>
</html>