<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edit the answer</title>
        <style>
            body {
                margin-left: 5%;
            }
            .delete_button {
                color: rgb(243, 11, 11);
                text-decoration: none;
            }
    </style>
    </head>
    <body>
        <h3>Edit the answer</h3>
        <form method="POST">
            <input type="hidden" name="id_answer" value="{{ .ID}}" />
            <label>Answer title</label><br>
            <input type="text" name="name" value="{{ .Name}}" /><br><br>
            <input type="submit" value="Save" />
        </form>
        <br><br>
        <button><a href="/delete_answer/{{ .ID}}" class="delete_button">Delete the answer</a></button>
    </body>
</html>