<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Votings</title>
        <style>
            body {
                margin-left: 5%;
            }
            .create_link:hover {
                color: darkviolet;
            }
            .name {
                color: black;
                text-decoration: none;
            }
            .name:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div>
        <h2>The list of votes</h2>
        {{if .IsAvailableRole}}
        <p><a href="/admin/create_voting" class="create_link">Create a new voting</a></p>
        {{end}}
        <table>
            <thead><th>Voting</th><th>Description</th><th>Start time</th><th>End time</th></thead>
            {{range .Votings}}
            <tr>
                <td><a href="/admin/voting_qa/{{ .ID}}" class="name">{{ .Name}}</a></td>
                <td>{{ .Description}}</td>
                <td>{{ .StartTime}}</td>
                <td>{{ .EndTime}}</td>
            </tr>
            {{end}}
        </table>
    </div>
    </body>
</html>